.container{
    margin:10px 0 0 20px;
    display :flex;
    background-color: rgb(121, 121, 121);
    width :400px;
    height :600px;
    border-radius: 10px;
    justify-content: center;
  
    
}
.display{
    width :350px;
    height :100px;
    background-color: rgb(187, 226, 210);
    margin: 20px ;
    border-radius: 10px;
    display :flex;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    font-size: 60px;
}